<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <%=
      link_to image_tag("logo.svg", size: "176x38", alt: "Chatroom Logo"), '/',
      class: 'navbar-brand ml-3 mx-md-0'
    %>
    <button
      class="navbar-toggler mr-3" type="button" data-toggle="collapse"
      data-target="#navbar-collapsible" aria-controls="navbar-collapsible"
      aria-expanded="false" aria-label="Toggle navigation"
    >
      <span><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapsible">
      <div class="navbar-nav">
        <div class="d-md-none navbar-nav-header">
          <%=
            link_to image_tag("logo-alt.svg", size: "176x38", alt: "Chatroom Logo"),
            '/', class: 'navbar-brand'
          %>
          <button
            type="button" class="close" data-toggle="collapse" data-target="#navbar-collapsible"
            aria-controls="navbar-collapsible" aria-label="Close"
          >
            <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
          </button>
        </div>

        <%= link_to 'About', '#', class: 'nav-link ml-md-auto mr-md-3 mr-lg-5' %>
        <%= link_to 'Features', '#', class: 'nav-link mx-md-3' %>
        <%= link_to 'Sample Link', '#', class: 'nav-link mr-md-auto ml-md-3 ml-lg-5' %>

        <% if logged_in? %>
          <div class="navbar-user-panel">
            <%= avatar_for current_user  %>
            <div class="navbar-username"><%= current_user.username %></div>
          </div>
          <div class="navbar-user-links">
            <%=
              link_to content_tag(:i, nil, class: "fas fa-user-cog") + 'Account',
                      '#', class: 'nav-link nav-link-alt'
            %>
            <%=
              link_to content_tag(:i, nil, class: "fas fa-sign-out-alt") + 'Logout',
                      logout_path, class: 'nav-link nav-link-alt', method: :delete
            %>
          </div>
        <% else %>
          <div class="navbar-user-links">
            <%=
              link_to content_tag(:i, nil, class: "fas fa-sign-in-alt") + 'Login',
                      login_path, class: 'nav-link nav-link-alt'
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
