<% provide(:title, 'Registration')  %>

<div class="registration">
  <div>
    <h3 class="text-center">Create an account</h3>
    <%= form_with(model: @user, url: register_path, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>
      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <%= form.label :password %>
      <%= form.password_field :password %>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation %>

      <%= form.submit "register", class: "btn btn-app-primary" %>
    <% end %>
  </div>
</div>
