<% provide(:title, 'Registration')  %>

<div class="registration">
  <div>
    <h4 class="text-center">Create an account</h4>
    <%= form_with(model: @user, url: register_path, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :dob_year, "date of birth" %>
        <div class="d-flex justify-content-between">
          <div>
            <%=
              options = (1..31).to_a
              styleable_select_tag options, {id: 'user_dob_day', prompt: 'day'}
            %>
          </div>
          <div>
            <%=
              options = [
                "January", "February", 'March', 'April', 'May', 'June', 'July',
                'August', 'September', 'October', 'November', 'December'
              ]
              styleable_select_tag options, {id: 'user_dob_month', prompt: 'month'}
            %>
          </div>
          <div>
            <%=
              options = (Globals::App::MIN_DOB.year..Globals::App::MAX_DOB.year).to_a.reverse
              styleable_select_tag options, {id: 'user_dob_year', prompt: 'year'}
            %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :password_confirmation, "confirm password" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= form.submit "register", class: "btn btn-app-primary" %>
      <small class="form-text">
        <a href="#"> Already have an account?</a>
      </small>
    <% end %>
  </div>
</div>
